@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="movieDb">
    <head>
        <link rel="shortcut icon" href="~/Content/chrysler.ico" type="image/ico" />
        <title>
            MovieDB
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render(
            "~/Content/bootstrap")
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <a href="/#" class="navbar-brand">Ayala Cinema</a>
                <a href="/#try" class="navbar-brand">Now Showing</a>
                <a href="/#" class="navbar-brand">Movie Archive</a>
                <a href="/#register" class="navbar-text pull-right">Register</a>
            </div>
        </nav>
        <div ng-view></div>
        
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/movieDB")
    </body>
</html> 