@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="movieDB">
    <head>
        <title>Music Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render(
               "~/Content/bootstrap")
    </head>
    <body>
        Puta edi wow
        {{ 1+1 }}
        
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/movieDB")
    </body>
</html> 