@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="movieDB">
    <head>
        <link rel="shortcut icon" href="~/Content/chrysler.ico" type="image/ico" />
        <title>
            MovieDB
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render(
            "~/Content/bootstrap")
    </head>
    <body>
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <link rel="shortcut icon" type="image/png" href="~" />
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a href="/#try" class="navbar-brand">Boom</a>
            </div>
        </nav>
        <div ng-view=""></div>
        
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/movieDB")
    </body>
</html> 