@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="movieDb">
    <head>
        <link rel="shortcut icon" href="~/Content/chrysler.ico" type="image/ico" />
        <title>
            MovieDB
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render(
            "~/Content/bootstrap")
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a href="/#" class="navbar-brand">Ayala Cinema</a>
            <a href="/#try" class="navbar-brand">Now Showing</a>
            <a href="/#" class="navbar-brand">Movie Archive</a>
            <a href="/#register" class="navbar-text pull-right">Register</a>
        </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Boom Panes</h1>
        </div>
    </div>

    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
    </div>

    <div class="animate-ng-view" ng-view></div>
        <script src="~/Scripts/javascript.js"></script>
            @Scripts.Render("~/bundles/angular")
            @Scripts.Render("~/bundles/movieDB")
</body>
</html> 